<%- include("./partials/headerAdm")%>

<content>
    <!--<div class="wrapper">-->
        <div class="container-sm container-cliente mb-5 mt-5">
        <%if(isEditing){%>
            <form class="box rounded" action="/gerenciar/produtos/editar/<%=id%>" method="POST" enctype="multipart/form-data">
        <% } else {%>
            <form class="box rounded" action="/gerenciar/produtos/cadastro" method="POST" enctype="multipart/form-data">
        <% } %>
       
            <p class="lead">Uvas</p>
            <div class="mb-3 mt-3">
                <% if(isEditing){%>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                            <% if(produto.uvas.indexOf(1)>=0){ %>
                                <input type="checkbox" class="form-check-input" name="uvas" value="1" id="syrrah" checked>
                                <% } else {%>
                                    <input type="checkbox" class="form-check-input" name="uvas" value="1" id="syrrah">
                                <% } %>
                                <label for="syrrah" class="form-check-label">Syrrah</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                            <% if(produto.uvas.indexOf(2)>=0){ %>
                                <input type="checkbox" class="form-check-input" name="uvas" value="2" id="malbec" checked>
                                <% } else {%>
                                    <input type="checkbox" class="form-check-input" name="uvas" value="2" id="malbec">
                                <% } %>
                                <label for="malbec" class="form-check-label">Malbec</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <% if(produto.uvas.indexOf(3)>=0){ %>
                                    <input type="checkbox" class="form-check-input" name="uvas" value="3" id="temp3" checked>
                                    <% } else {%>
                                        <input type="checkbox" class="form-check-input" name="uvas" value="3" id="tempr">
                                    <% } %>
                                    <label for="tempr" class="form-check-label">Tempranillo</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <% if(produto.uvas.indexOf(4)>=0){ %>
                                    <input type="checkbox" class="form-check-input" name="uvas" value="4" id="suavignon" checked>
                                    <% } else {%>
                                        <input type="checkbox" class="form-check-input" name="uvas" value="4" id="suavignon">
                                    <% } %>
                                <label for="suavignon" class="form-check-label">Suavignon</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <% if(produto.uvas.indexOf(5)>=0){ %>
                                    <input type="checkbox" class="form-check-input" name="uvas" value="5" id="pinot" checked>
                                    <% } else {%>
                                        <input type="checkbox" class="form-check-input" name="uvas" value="5" id="pinot">
                                    <% } %>
                                <label for="pinot" class="form-check-label">Pinot-Noir</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <% if(produto.uvas.indexOf(6)>=0){ %>
                                    <input type="checkbox" class="form-check-input" name="uvas" value="6" id="merlot" checked>
                                    <% } else {%>
                                        <input type="checkbox" class="form-check-input" name="uvas" value="6" id="merlot">
                                    <% } %>
                                <label for="merlot" class="form-check-label">Merlot</label>
                            </div>
                        </div>
                    </div>
                <%} else if(old){%>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                            <% if(old.uvas.indexOf(1)>=0){ %>
                                <input type="checkbox" class="form-check-input" name="uvas" value="1" id="syrrah" checked>
                                <% } else {%>
                                    <input type="checkbox" class="form-check-input" name="uvas" value="1" id="syrrah">
                                <% } %>
                                <label for="syrrah" class="form-check-label">Syrrah</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                            <% if(old.uvas.indexOf(2)>=0){ %>
                                <input type="checkbox" class="form-check-input" name="uvas" value="2" id="malbec" checked>
                                <% } else {%>
                                    <input type="checkbox" class="form-check-input" name="uvas" value="2" id="malbec">
                                <% } %>
                                <label for="malbec" class="form-check-label">Malbec</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <% if(old.uvas.indexOf(3)>=0){ %>
                                    <input type="checkbox" class="form-check-input" name="uvas" value="3" id="temp3" checked>
                                    <% } else {%>
                                        <input type="checkbox" class="form-check-input" name="uvas" value="3" id="tempr">
                                    <% } %>
                                    <label for="tempr" class="form-check-label">Tempranillo</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <% if(old.uvas.indexOf(4)>=0){ %>
                                    <input type="checkbox" class="form-check-input" name="uvas" value="4" id="suavignon" checked>
                                    <% } else {%>
                                        <input type="checkbox" class="form-check-input" name="uvas" value="4" id="suavignon">
                                    <% } %>
                                <label for="suavignon" class="form-check-label">Suavignon</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <% if(old.uvas.indexOf(5)>=0){ %>
                                    <input type="checkbox" class="form-check-input" name="uvas" value="5" id="pinot" checked>
                                    <% } else {%>
                                        <input type="checkbox" class="form-check-input" name="uvas" value="5" id="pinot">
                                    <% } %>
                                <label for="pinot" class="form-check-label">Pinot-Noir</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <% if(old.uvas.indexOf(6)>=0){ %>
                                    <input type="checkbox" class="form-check-input" name="uvas" value="6" id="merlot" checked>
                                    <% } else {%>
                                        <input type="checkbox" class="form-check-input" name="uvas" value="6" id="merlot">
                                    <% } %>
                                <label for="merlot" class="form-check-label">Merlot</label>
                            </div>
                        </div>
                    </div>
                <%} else{%>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <input type="checkbox" class="form-check-input" name="uvas" value="1" id="syrrah">
                                <label for="syrrah" class="form-check-label">Syrrah</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <input type="checkbox" class="form-check-input" name="uvas" value="2" id="malbec">
                                <label for="malbec" class="form-check-label">Malbec</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <input type="checkbox" class="form-check-input" name="uvas" value="3" id="tempr">
                                <label for="tempr" class="form-check-label">Tempranillo</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <input type="checkbox" class="form-check-input" name="uvas" value="4" id="suavignon">
                                <label for="suavignon" class="form-check-label">Suavignon</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <input type="checkbox" class="form-check-input" name="uvas" value="5" id="pinot">
                                <label for="pinot" class="form-check-label">Pinot-Noir</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <input type="checkbox" class="form-check-input" name="uvas" value="6" id="merlot">
                                <label for="merlot" class="form-check-label">Merlot</label>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>

            <p class="lead">Colheita</p>
            <div class="mb-3 mt-3">
                <% if(isEditing){%>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <% if(produto.cosecha == "temprana"){ %>
                                    <input type="radio" class="form-check-input" name="cosecha" value="temprana" id="temprana" checked>
                                    <% } else {%>
                                    <input type="radio" class="form-check-input" name="cosecha" value="temprana" id="temprana">
                                    <% } %>
                                <label for="temprana" class="form-check-label">Temprana</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <% if(produto.cosecha == "tardia"){ %>
                                    <input type="radio" class="form-check-input" name="cosecha" value="tardia" id="tardia" checked>
                                    <% } else {%>
                                    <input type="radio" class="form-check-input" name="cosecha" value="tardia" id="tardia">
                                    <% } %>
                                <label for="tardia" class="form-check-label">Tardia</label>
                            </div>
                        </div>
                    </div>
                <%} else{%>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <input type="radio" class="form-check-input" name="cosecha" value="temprana" id="temprana">
                                <label for="temprana" class="form-check-label">Temprana</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <input type="radio" class="form-check-input" name="cosecha" value="tardia" id="tardia">
                                <label for="tardia" class="form-check-label">Tardia</label>
                            </div>
                        </div>
                    </div>
                <%}%>
            </div>
            <p class="lead">Tipo</p>
            <div class="mb-3 mt-3">
                <% if(isEditing){%>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <% if(produto.tipo == "tinto"){ %>
                                    <input type="radio" class="form-check-input" name="tipo" value="tinto" id="tinto" checked>
                                <% } else {%>
                                    <input type="radio" class="form-check-input" name="tipo" value="tinto" id="tinto">
                                <% } %>
                                <label for="tinto" class="form-check-label">Tinto</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <% if(produto.tipo == "branco"){ %>
                                    <input type="radio" class="form-check-input" name="tipo" value="branco" id="branco" checked>
                                <% } else {%>
                                    <input type="radio" class="form-check-input" name="tipo" value="branco" id="branco">
                                <% } %>
                                <label for="branco" class="form-check-label">Branco</label>
                            </div>
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <% if(produto.tipo == "rose"){ %>
                                    <input type="radio" class="form-check-input" name="tipo" value="rose" id="rose" checked>
                                <% } else {%>
                                    <input type="radio" class="form-check-input" name="tipo" value="rose" id="rose">
                                <% } %>
                                <label for="rose" class="form-check-label">Rosé</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <% if(produto.tipo == "frisante"){ %>
                                    <input type="radio" class="form-check-input" name="tipo" value="frisante" id="frisante" checked>
                                <% } else {%>
                                    <input type="radio" class="form-check-input" name="tipo" value="frisante" id="frisante">
                                <% } %>
                                <label for="frisante" class="form-check-label">Frisante</label>
                            </div>
                        </div>
                    </div>     
                <%} else {%>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <input type="radio" class="form-check-input" name="tipo" value="tinto" id="tinto">
                                <label for="tinto" class="form-check-label">Tinto</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <input type="radio" class="form-check-input" name="tipo" value="branco" id="branco">
                                <label for="branco" class="form-check-label">Branco</label>
                            </div>
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <input type="radio" class="form-check-input" name="tipo" value="rose" id="rose">
                                <label for="rose" class="form-check-label">Rosé</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <input type="radio" class="form-check-input" name="tipo" value="frisante" id="frisante">
                                <label for="frisante" class="form-check-label">Frisante</label>
                            </div>
                        </div>
                    </div> 
                <%}%>
            </div>

            <p class="lead">Disponibilidade</p>
            <div class="mb-3 mt-3">
                <% if(isEditing){%>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <% if(produto.ativo == "ativo"){ %>
                                    <input type="radio" class="form-check-input" name="ativo" value="ativo" id="ativo" checked>
                                    <% } else {%>
                                    <input type="radio" class="form-check-input" name="ativo" value="ativo" id="ativo">
                                    <% } %>
                                <label for="ativo" class="form-check-label">Ativo</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <% if(produto.ativo == "inativo"){ %>
                                    <input type="radio" class="form-check-input" name="ativo" value="inativo" id="inativo" checked>
                                    <% } else {%>
                                    <input type="radio" class="form-check-input" name="ativo" value="inativo" id="inativo">
                                    <% } %>
                                <label for="inativo" class="form-check-label">Inativo</label>
                            </div>
                        </div>
                    </div>
                <%} else{%>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <input type="radio" class="form-check-input" name="ativo" value="ativo" id="ativo">
                                <label for="ativo" class="form-check-label">Ativo</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <input type="radio" class="form-check-input" name="ativo" value="inativo" id="inativo">
                                <label for="inativo" class="form-check-label">Inativo</label>
                            </div>
                        </div>
                    </div>
                <%}%>
            </div>

            <div class="row">
                <div class="form-group col-md-6 mb-3 mt-3">
                    <label for="finca" class="form-label">Finca</label>
                    <%if(isEditing){%>
                        <input type="text" id="finca" class="form-control" name="finca" placeholder="Informe bodega" value="<%=produto.finca%>">
                    <% } else if(old){%>
                        <input type="text" id="finca" class="form-control" name="finca" placeholder="Informe bodega" value="<%=old.finca%>">
                    <% } else{%>
                        <input type="text" id="finca" class="form-control" name="finca" placeholder="Informe bodega">
                    <%} %>
                    <%if(errors.finca){%>
                        <br>
                        <span id="error"><%=errors.finca.msg%></span>
                    <%}%>
                </div>
            

                <div class="form-group col-md-6 mb-3 mt-3">
                    <label for="ano" class="form-label">Ano</label>
                    <%if(isEditing){%>
                        <input type="number" id="ano" class="form-control" name="ano" min="1900" placeholder="ano de produção" value="<%=produto.ano%>">
                        <% } else if(old){%>
                        <input type="number" id="ano" class="form-control" name="ano" min="1900" placeholder="ano de produção" value="<%=old.ano%>">
                        <% } else{%>
                        <input type="number" id="ano" class="form-control" name="ano" min="1900" placeholder="ano de produção">   
                    <% } %>
                    <%if(errors.ano){%>
                        <br>
                        <span id="error"><%=errors.ano.msg%></span>
                    <%}%>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md-6 mb-3 mt-3">
                    <label for="preco" class="form-label">Preço</label>
                    <%if(isEditing){%>
                        <input type="number" step=".01" id="preco" class="form-control" name="preco" value="<%=produto.valor%>">
                    <% } else if(old){%> 
                        <input type="number" step=".01" id="preco" class="form-control" name="preco" value="<%=old.valor%>">
                    <% } else{%>
                        <input type="number" step=".01" id="preco" class="form-control" name="preco">
                    <% } %>
                    <%if(errors.preco){%>
                        <br>
                        <span id="error"><%=errors.preco.msg%></span>
                    <%}%>
                </div>
            
                <div class="form-group col-md-6 mb-3 mt-3">
                    <label for="estoque" class="form-label">Estoque</label>
                    <%if(isEditing){%>
                        <input type="number" step="1" id="estoque" class="form-control" name="estoque" value="<%=produto.estoque%>">
                    <% } else if(old){%> 
                        <input type="number" step="1" id="estoque" class="form-control" name="estoque" value="<%=old.estoque%>">
                    <% } else{%> 
                        <input type="number" step="1" id="estoque" class="form-control" name="estoque">
                    <% } %>
                    <%if(errors.estoque){%>
                        <br>
                        <span id="error"><%=errors.estoque.msg%></span>
                    <%}%>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3 mt-3">
                    <label  class="form-label" for="origem">País de Origem</label>
                    <%if(isEditing){%>
                    <select id="origem" class="form-select" name="origem" required>
                        <option disabled selected>--Origem--</option>
                        <% if(produto.origem=="Argentina"){ %>
                            <option value="Argentina" selected>Argentina</option>
                        <% } else{ %>
                            <option value="Argentina">Argentina</option>
                        <% } %>
                        <% if(produto.origem=="Brasil"){ %>
                            <option value="Brasil" selected>Brasil</option>
                        <% } else {%>
                            <option value="Brasil">Brasil</option>
                        <% } %>
                        <% if(produto.origem=="Chile") {%>
                            <option value="Chile" selected>Chile</option>
                        <% } else {%>
                            <option value="Chile">Chile</option>
                        <% } %>
                        <% if(produto.origem=="Espanha") {%>
                            <option value="Espanha" selected>Espanha</option>
                        <% } else {%>
                            <option value="Espanha">Espanha</option>
                        <% } %>
                        <% if(produto.origem=="França") {%>
                            <option value="França" selected>França</option>
                        <% } else {%>
                            <option value="França">França</option>
                        <% } %>
                        <% if(produto.origem=="Itália") {%>
                            <option value="Itália" selected>Itália</option>
                        <% } else {%>
                            <option value="Itália">Itália</option>
                        <% } %>
                        <% if(produto.origem=="Portugal") {%>
                            <option value="Portugal" selected>Portugal</option>
                        <% } else {%>
                            <option value="Portugal">Portugal</option>
                        <% } %>
                    </select>
                    <% } else if(old){%>
                    <select id="origem" class="form-select" name="origem" required>
                        <option disabled selected>--Origem--</option>
                        <% if(old.origem=="Argentina"){ %>
                            <option value="Argentina" selected>Argentina</option>
                        <% } else{ %>
                            <option value="Argentina">Argentina</option>
                        <% } %>
                        <% if(old.origem=="Brasil"){ %>
                            <option value="Brasil" selected>Brasil</option>
                        <% } else {%>
                            <option value="Brasil">Brasil</option>
                        <% } %>
                        <% if(old.origem=="Chile") {%>
                            <option value="Chile" selected>Chile</option>
                        <% } else {%>
                            <option value="Chile">Chile</option>
                        <% } %>
                        <% if(old.origem=="Espanha") {%>
                            <option value="Espanha" selected>Espanha</option>
                        <% } else {%>
                            <option value="Espanha">Espanha</option>
                        <% } %>
                        <% if(old.origem=="França") {%>
                            <option value="França" selected>França</option>
                        <% } else {%>
                            <option value="França">França</option>
                        <% } %>
                        <% if(old.origem=="Itália") {%>
                            <option value="Itália" selected>Itália</option>
                        <% } else {%>
                            <option value="Itália">Itália</option>
                        <% } %>
                        <% if(old.origem=="Portugal") {%>
                            <option value="Portugal" selected>Portugal</option>
                        <% } else {%>
                            <option value="Portugal">Portugal</option>
                        <% } %>
                    </select>
                    <%} else { %>
                    <select id="origem" class="form-select" name="origem">
                        <option disabled selected>--Origem--</option>
                        <option value="Argentina">Argentina</option>
                        <option value="Brasil">Brasil</option>
                        <option value="Chile">Chile</option>
                        <option value="Espanha">Espanha</option>
                        <option value="França">França</option>
                        <option value="Itália">Itália</option>
                        <option value="Portugal">Portugal</option>
                    </select>
                    <% } %>
                    <%if(errors.origem){%>
                            <br>
                            <span id="error"><%=errors.origem.msg%></span>
                    <%}%>
                </div>
                <div class="form-group col-md-6 mb-3 mt-3">
                    <label for="rotulo" class="form-label" >Selecionar Rotulo</label>
                    <%if(isEditing){%>
                    <input type="file" id="rotulo" class="form-control" name="rotulo" accept=".jpg, .jpeg, .png, .webp" value="<%=produto.rotulo%>">
                    <%} else{ %>
                        <input type="file" id="rotulo" class="form-control-file" name="rotulo" accept=".jpg, .jpeg, .png, .webp">
                    <%}%>
                </div>
            </div>
            <div class="mb-3 mt-3 form-group">
                <label class="form-label" for="descricao">Descrição</label>
                <%if(isEditing){%>
                    <textarea class="form-control"  name="descricao" id="descricao"><%=produto.descricao%></textarea>
                <%} else if(old){%>
                    <textarea class="form-control"  name="descricao" id="descricao"><%=old.descricao%></textarea>
                <%} else {%>
                    <textarea class="form-control"  name="descricao" id="descricao"></textarea>
                <% } %> 
            </div>
            <%if(isEditing){%>
                <button class="btn btn-primary  mb-3" type="submit" value="Editar">Editar</button>
            <%} else {%>
                <button class="btn btn-primary  mb-3" type="submit" value="Cadastrar">Cadastrar</button>
            <%}%>
            <!--</div>-->    
        </div>
        </form>
    </div>
</content>

<%- include("./partials/footerAdm")%>
