<%- include("./partials/header")%>

<content>
    <div class="wrapper">
        <% if(isEditing == false) {%>
            <form action="/gerenciar/cadastroCliente" method="POST">
        <% } else{ %>
            <form action="/gerenciar/cliente/<%=id%>" method="POST">
                <% } %>
            <div class="container_formulario">
                <div class="clientes">
                    <% if(exists == true){ %>
                        <span id="error">O email já está cadastrado</span>
                    <% } %>
                    <div>
                        <label for="nome">Nome</label><br>
                        <%if(isEditing) { %>
                            <input type="text" id="nome" name="nome" value="<%=cliente.nome%>">
                        <% }else if(errors){ %>
                            <input type="text" id="nome" name="nome" value="<%=old.nome%>" placeholder="Digite nome">
                            <%if (errors.nome){%>
                            <span id="error"><%=errors.nome.msg%></span>
                            <%}%>
                        <%}else{ %>
                            <input type="text" id="nome" name="nome" placeholder="Digite nome">
                        <% } %>
                        
                    </div>
                    <div>
                        <label for="nasc">Nasc.</label><br>
                        <% if(errors){ %>
                            <input type="date" id="nasc" name="nascimento" value="<%=old.nascimento%>">
                            <%if (errors.nascimento){%>
                                <span id="error"><%=errors.nascimento.msg%></span>
                            <%}%>
                        <% } else if (isEditing){ %>
                            <input type="date" id="nasc" name="nascimento" value="<%=cliente.nascimento%>" required>
                        <% } else{ %>
                            <input type="date" id="nasc" name="nascimento" required>
                        <% } %>
                    </div>
                    <div>
                        <label for="email">Email</label><br>
                        <% if(isEditing){ %>
                            <input type="email" id="email" name="email" value="<%=cliente.email%>">
                        <% } else if(errors){ %>
                            <input type="email" id="email" name="email" placeholder="Informe seu email" value="<%=old.email%>">
                            <%if (errors.email){%>
                                <span id="error"><%=errors.email.msg%></span>
                            <%}%>
                        <%}else{ %>
                            <input type="email" id="email" name="email" placeholder="Informe seu email">
                        <% } %>
                    </div>
                    <div>
                        <% if(isEditing){ %>
                            <label for="pass">Senha</label><br>
                            <input type="password" id="pass" name="password" placeholder="informe sua senha" required>
                        <% }else if(errors){ %>
                            <label for="pass">Senha</label><br>
                            <input type="password" id="pass" name="password" placeholder="informe sua senha" required>
                            <%if (errors.password){%>
                                <span id="error"><%=errors.password.msg%></span>
                            <%}%>
                        <% } else { %>
                            <label for="pass">Senha</label><br>
                            <input type="password" id="pass" name="password" placeholder="informe sua senha" required>
                        <% } %>
                    </div>
                    <div>
                        <label for="pessoa">Tipo de Pessoa</label><br>
                        <% if(errors){ %>
                            <select id="pessoa" name="pessoa">
                                <option disabled selected>Selecione</option>
                                    <option value="fisica">Fisica</option>
                                    <option value="juridica">Juridica</option>
                            </select>
                            <%if (errors.pessoa){%>
                                <span id="error"><%=errors.pessoa.msg%></span>
                            <%}%>
                        <% } else{ %>
                            <select id="pessoa" name="pessoa">
                                <option disabled selected>Selecione</option>
                                <option value="fisica">Fisica</option>
                                <option value="juridica">Juridica</option>
                            </select>
                        <% } %>
                    </div>
                    <div>
                        <label for="doc">CPF/CNPJ</label><br>
                        <% if(isEditing){ %>
                            <input type="number" id="doc" name="doc" value="<%=cliente.doc%>" required>
                        <% } else if(errors){ %>
                            <input type="number" id="doc" name="doc" placeholder="Informe CPF ou CNPJ" required value="<%=old.doc%>">
                            <%if (errors.doc){%>
                                <span id="error"><%=errors.doc.msg%></span>
                            <%}%>
                        <% }else{ %>
                            <input type="number" id="doc" name="doc" placeholder="Informe CPF ou CNPJ" required>
                        <% } %>
                    </div>
                    <div>
                        <label for="cep">CEP</label><br>
                        <% if(isEditing){ %>
                            <input type="text" id="cep" name="cep" value="<%=cliente.cep%>" required >
                        <%} else if(errors){ %>
                            <input type="text" id="cep" name="cep" placeholder="Informe seu cep" required  value="<%=old.cep%>">
                            <%if (errors.cep){%>
                                <span id="error"><%=errors.cep.msg%></span>
                            <%}%>
                        <%} else{ %>
                            <input type="text" id="cep" name="cep" placeholder="Informe seu cep" required >
                        <% } %>
                    </div>
                    <div>
                        <label for="end1">End.</label><br>
                        <% if(isEditing){ %>
                            <input type="text" id="end1" name="end1" value="<%=cliente.end1%>" required>
                        <% }else if(errors){ %>
                            <input type="text" id="end1" name="end1" placeholder="Digite endereço" required value="<%=old.end1%>">
                            <%if (errors.end1){%>
                                <span id="error"><%=errors.end1.msg%></span>
                            <%}%>
                        <% } else{ %>
                            <input type="text" id="end1" name="end1" placeholder="Digite endereço" required>
                        <% } %>
                    </div>
                    <div>
                        <label for="compl">Complemento</label><br>
                        <input type="text" id="compl" name="complemento" placeholder="Preencha caso precise complementar endereço">
                    </div>
                    <div>
                        <label for="uf">UF</label><br>
                        <select id="uf" name="uf">
                            <option disabled selected>Selecione UF</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                            <option value="EX">Estrangeiro</option>
                        </select>
                    </div>
                    <div>
                        <label for="cidade">Cidade</label><br>
                        <% if(isEditing){ %>
                            <input type="text" id="cidade" name="cidade" value="<%=cliente.cidade%>" required>
                        <%} else if(errors){ %>
                            <input type="text" id="cidade" name="cidade" placeholder="Informe cidade" required value="<%=old.cidade%>">
                            <%if (errors.cidade){%>
                                <span id="error"><%=errors.cidade.msg%></span>
                            <%}%>
                        <% } else{ %>
                            <input type="text" id="cidade" name="cidade" placeholder="Informe cidade" required>
                        <% } %>
                    </div>             
                </div>
            </div>
            <%if(isEditing){ %>
                <button type="submit" class="button">Editar</button>
            <%} else{ %>
                <button type="submit" class="button">Cadastrar</button>
            <% } %>
        </form>
    </div>
</content>
<%- include("./partials/footer")%>