<%-include('./partials/header')%>

<div class="wrapper">
    <div class="lista_container">
        <% for(produto of produtos){ %>
            <div class="lista_item">
            <div class="item_img">
                <img class="rotulo" src="<%=produto.rotulo %>" alt="rotulo">
            </div>
            <div class="item_desc">
                <span><%=produto.finca%><br></span>
                <%=produto.uvas %>
            </div>
            <div class="item_valor">
                Total = <br>
                <%=produto.qtd%> X R$ <%=produto.valor%>
                <br>
                R$<span><%=(produto.qtd*produto.valor).toFixed(2)%></span>
                <%produto.total=produto.qtd*produto.valor%>
            </div>
        </div>
        <% } %>
    </div>

        <div class="container_total">
            <div class="cep">
                <form class="form-floating">
                    <input type="text" class="form-control" id="cep" placeholder="CEP de envio">
                    <label for="cep">CEP para envio</label>
                </form>
            </div>
            <div class="total">
                aqui deveria <br>valor total e envio
            </div>
            <div class="confirma">
                <a class="comprar" href="/checkout/pagar">Comprar!</a>
            </div>
        </div>
</div>

<%-include('./partials/footer')%>