<%- include('./partials/header')%>
<div class="container-fluid mt-5">
    <div class=" d-flex row justify-content-center">
        <div class="col mt-3 mb-3">
            <div class="detalhe-rotulo">
                <img src="/<%=vinho.rotulo%>" alt="rotulo">
            </div>
        </div>
        <div class="col  mb-3">
            <h5 class="fw-normal">Origem: <span><%=vinho.origem%></span><br>
            Uva: <span><%=vinho.uvas%></span><br>
            Ano: <span><%=vinho.ano%></span><br>
            Tipo: <span><%=vinho.tipo%></span></h5>
            <% if (vinho.descricao!=null) { %>
                <h5 class="fw-normal text-justify">Descrição: </h5>
                <span><%=vinho.descricao%></span>
            <% } %>
        </div>
        <div class="col mb-3 mt-3">
            <h5>Preço Unit. R$<%=(vinho.valor).toFixed(2)%></h5>
            <form class="row row-cols-lg-auto g-3 align-items-center mt-3" action="/produtos/adicionar/<%=vinho.id_produto%>" method="POST">
                <div class="col-5">
                    <select class="form-select" id="autoSizingSelect" name="quantidade">
                    <option selected>sel.</option>
                    <%if(vinho.estoque && vinho.estoque>0){%>
                        <%for(let i=1; i<vinho.estoque+1 && i<=10; i++){%>
                            <option value="<%=i%>"> <%=i%> </option>
                    <%}} %>
                    </select>
                </div>
                <div class="col-4">
                <!--<button class="button">Comprar</button>-->
                    <button class="btn btn-success">Comprar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/javascripts/estilo.js"></script>
<%- include('./partials/footer')%>