<%-include('./partials/headerAdm')%>

<div class="container mt-3">
    <h4 class="subtitulo">Administração Produtos</h4>
    <div class="row mt-5">
        <div class="col">
            <a class="btn btn-primary text-mutted" role="button" id="btBck">Voltar</a>
        </div>
        <div class="col">
            <a class="btn btn-success" role="button" href="/gerenciar/produtos/cadastro">Novo Produto</a>
        </div>
        <div class="col">               
            <div class="form-floating busca_cliente">
                <input type="text" class="form-control" id="buscaProduto" placeholder="Nome do Produto">
                <label for="buscaProduto">Buscar Produto</label>
            </div>
        </div>    
    </div>                
    <div  class="table-responsive mt-3">
        <table class="table border-mutted table-bordered table-hover caption-bottom">
            <caption>Produtos Cadastrados</caption>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Rotulo</td>
                    <td>Finca</td>
                    <td>Uvas</td>
                    <td>Preço</td>
                </tr>
            </thead>
            <tbody>
                <%for(let i=0; i<produtos.length;i++){%>
                <tr>
                    <td><a href="/gerenciar/produtos/<%=produtos[i].id_produto%>"><%=produtos[i].id_produto%></a></td>
                    <td><a href="/gerenciar/produtos/<%=produtos[i].id_produto%>">
                        <%if(!produtos[i].rotulo){%>
                            <img class="rotulo_tabela" src="/images/uploads/rotulos/vinho-vazio2.jpg" alt="<%=produtos[i].finca%>"> 
                        <%} else{%>   
                            <img class="rotulo_tabela" src="/<%=produtos[i].rotulo%>" alt="<%=produtos[i].finca%>">
                        <% } %></a></td>
                    <td><a href="/gerenciar/produtos/<%=produtos[i].id_produto%>"><%=produtos[i].finca%></a></td>
                    <td><a href="/gerenciar/produtos/<%=produtos[i].id_produto%>"><%=produtos[i].uvas%></a></td>
                    <td><a href="/gerenciar/produtos/<%=produtos[i].id_produto%>"><%=produtos[i].valor%></a></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
<script src="/javascripts/buscaProduto.js"></script>

<%-include('./partials/footerAdm')%>