<%-include('./partials/headerAdm')%>

<content>
    <div class="wrapper">
        <div class="container_lista">
            <h5>Administração Produtos</h5>
            <div class="row mt-5">
                <div class="col">
                    <div class="form-floating busca_cliente">
                        <input type="text" class="form-control" id="buscaProduto" placeholder="Nome do Produto">
                        <label for="buscaProduto">Buscar Produto</label>
                    </div>
                </div>
                    
                <div class="col">
                    <a class="btn btn-success btn-lg " role="button" href="/gerenciar/produtos/cadastro">Novo Produto</a>
                </div>
                <div class="col-2">

                </div>
            </div>                
            <div  class="table-responsive mt-3">
                <table class="table border-mutted table-bordered table-hover caption-bottom">
                    <caption>Produtos Cadastrados</caption>
                    <thead>
                        <tr>
                            <td class="align-middle">ID</td>
                            <td class="align-middle">Rotulo</td>
                            <td class="align-middle">Finca</td>
                            <td class="align-middle">Uvas</td>
                            <td class="align-middle">Preço</td>
                        </tr>
                    </thead>
                    <tbody>
                        <%for(let i=0; i<produtos.length;i++){%>
                        <tr>
                            <td class="align-middle"><a class="link_tabela" href="/gerenciar/produtos/<%=produtos[i].id_produto%>"><%=produtos[i].id_produto%></a></td>
                            <td class="align-middle"><a class="link_tabela" href="/gerenciar/produtos/<%=produtos[i].id_produto%>"><img class="rotulo_tabela" src="/<%=produtos[i].rotulo%>"></a></td>
                            <td class="align-middle"><a class="link_tabela" href="/gerenciar/produtos/<%=produtos[i].id_produto%>"><%=produtos[i].finca%></a></td>
                            <td class="align-middle"><a class="link_tabela" href="/gerenciar/produtos/<%=produtos[i].id_produto%>"><%=produtos[i].uvas%></a></td>
                            <td class="align-middle"><a class="link_tabela" href="/gerenciar/produtos/<%=produtos[i].id_produto%>"><%=produtos[i].valor%></a></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</content>

<%-include('./partials/footerAdm')%>