<%-include('./partials/headerAdm')%>
    <content>
        <div class="wrapper">
            <div class="container_lista">
                <h5>Administração Clientes</h5>
                <div class="form-floating busca_cliente">
                    <input type="text" class="form-control" id="buscaCliente" placeholder="Nome ou Documento">
                    <label for="buscaCliente">Buscar Cliente</label>
                </div>
                <div  class="table-responsive">
                    <table class="tabela-esquerda table border border-success table-bordered caption-top">
                        <caption>Clientes Cadastrados</caption>
                        <thead>
                            <tr>
                                <td>Doc.</td>
                                <td>Nome</td>
                                <td>UF</td>
                                <td>Cidade</td>
                            </tr>
                        </thead>
                        <tbody>
                            <%for(let i=0; i<clientes.length;i++){%>
                            <tr>
                                <td><a class="link_tabela" href="/clientes/editar/<%=clientes[i].id%>"><%=clientes[i].doc%></a></td>
                                <td><a class="link_tabela" href="/clientes/editar/<%=clientes[i].id%>"><%=clientes[i].nome%></a></td>
                                <td><a class="link_tabela" href="/clientes/editar/<%=clientes[i].id%>"><%=clientes[i].uf%></a></td>
                                <td><a class="link_tabela" href="/clientes/editar/<%=clientes[i].id%>"><%=clientes[i].cidade%></a></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </content>
<%-include('./partials/footerAdm')%>