<%- include('./partials/header') %>
        <div class="login_container">
            <form action="/login" method="POST">
				<div class="login">
					<% if(created == true){ %>
						<span id="created">Dados inseridos com sucesso!</span>
					<% } %>
					<% if(error.password){ %>
						<span id="error"><%=error.password.msg%></span>	
					<%}%>
					<% if(error.email){ %>
						<span id="error"><%=error.email.msg%></span>	
					<%}%>
					<% if(errorModel != undefined){ %>
						<span id="error"><%=errorModel%></span>	
					<%}%>
					<div class="login_user">
						<label for="usuario">Login: </label>
						<input type="text" id="usuario" name="email" placeholder="username">
					</div>
					<div class="login_pass">
						<label for="password">Senha: </label>
						<input type="password" id="password" name="password" placeholder="password">
					</div>
					<button type="submit" class="login_button">Logar</button>
					<div class="manter_logado">
						<label for="manter_logado" id="manter_login">
							Manter Logado?	
						</label>
						<input type="checkbox" id="manter_logado" name="manterLogado">
						
					</div>
					
					<p>Não tem conta? <a href="/clientes/cadastrar">Cadastre agora!</a></p>
					
				</div>
            </form>
        </div>
<%- include("./partials/footer")%>