<%- include('./partials/header') %>
	<div class="container login_container_BS5 container-sm mb-5 mt-5">
		<form action="/login" method="POST">
			<% if(created){ %>
				<span id="created">Dados inseridos com sucesso!</span>
			<% } %>
			<% if(error.password){ %>
				<span id="error"><%=error.password.msg%></span>	
			<%}%>
			<% if(error.email){ %>
				<span id="error"><%=error.email.msg%></span>	
			<%}%>
			<% if(errorModel != undefined){ %>
				<span id="error"><%=errorModel%></span>	
			<%}%>
			<div class="mb-3">
				<label for="usuario" class="form-label">Login</label>
				<% if(errorModel){ %>
					<input type="text" id="usuario" class="form-control" name="email" placeholder="username" value="<%=old.email%>">	
				<%} else{%>
				<input type="text" id="usuario" class="form-control" name="email" placeholder="email de cadastro">
				<%}%>
			</div>
				
			<div class="mb-3">
				<label class="form-label" for="password">Senha</label>
				<input type="password" class ="form-control" id="password" name="password" placeholder="password">
			</div>
			<div class="row">
				<div class="col">
					<button type="submit" class="btn btn-success btn-lg btn-block mb-3">Logar</button>
				</div>
				<div class="col">
					<a class="btn btn-primary" role="button" href="/clientes/cadastrar">Cadastre-se</a>
					<p class="text-muted">Não tem conta? <a href="/clientes/cadastrar">Cadastre agora!</a></p>
				</div>
			</div>
		
		</form>
    </div>
<%- include("./partials/footer")%>