<%-include('./partials/header')%>
<div class="wrapper">
    <button class="link_button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTinto" aria-expanded="true" aria-controls="collapseTinto">
        Tinto
      </button>
    <div class="container_vinhos collapse show" id="collapseTinto">
        <% for(vinho of vinhos){ %>
     <div class="cardp">
         <a href="produto/<%=vinho.id%>"><!--o id deve ser substituido por chave EJS com valor id-->
             <img src="<%=vinho.rotulo%>" alt="rotulo">
             <p><%=vinho.finca%> - <%=vinho.uvas%></p>
             <small>R$<%=vinho.preco%></small>
         </a>
     </div>
     <% } %>
    </div>
    <button class="link_button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBranco" aria-expanded="true" aria-controls="collapseBranco">
        Branco
      </button>
    <div class="container_vinhos collapse show" id="collapseBranco">
        <% for(vinho of vinhos){ %>
     <div class="cardp">
        <a href="produto/<%=vinho.id%>"><!--o id deve ser substituido por chave EJS com valor id-->
            <img src="<%=vinho.rotulo%>" alt="rotulo">
            <p><%=vinho.finca%> - <%=vinho.uvas%></p>
            <small>R$<%=vinho.preco%></small>
        </a>
     </div>
     <% } %>
    </div>
    <button class="link_button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRose" aria-expanded="true" aria-controls="collapseRose">
        Rosé
      </button>
    <div class="container_vinhos collapse show" id="collapseRose">
        <% for(vinho of vinhos){ %>
     <div class="cardp">
        <a href="produto/<%=vinho.id%>"><!--o id deve ser substituido por chave EJS com valor id-->
            <img src="<%=vinho.rotulo%>" alt="rotulo">
            <p><%=vinho.finca%> - <%=vinho.uvas%></p>
            <small>R$<%=vinho.preco%></small>
        </a>
     </div>
     <% } %>
    </div> 
    <button class="link_button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFrisante" aria-expanded="true" aria-controls="collapseFrisante">
        Frisante
      </button>
    <div class="container_vinhos collapse show" id="collapseFrisante">
        <% for(vinho of vinhos){ %>
     <div class="cardp">
        <a href="produto/<%=vinho.id%>"><!--o id deve ser substituido por chave EJS com valor id-->
            <img src="<%=vinho.rotulo%>" alt="rotulo">
            <p><%=vinho.finca%> - <%=vinho.uvas%></p>
            <small>R$<%=vinho.preco%></small>
        </a>
     </div>
     <% } %>
    </div>  
 </div>
 <%-include('./partials/footer')%>