<%-include('./partials/header')%>
<div class="container mt-3 mb-3">
    <div class="d-flex flex-row justify-content-evenly mt-3 mb-3">
        <% for(vinho of vinhos){ %>
            <div class="col">
                <div class="card" style="width: 18rem;" >
                    <a href="produtos/<%=vinho.id_produto%>"><img class="card-img-top" src="<%=vinho.rotulo%>" alt="<%=vinho.finca%>"></a>
                    <div class="card-body">
                        <h5 class="card-title"><%=vinho.finca%></h5>
                        <p class="card-text"><%=vinho.uvas%></p>
                        <p class="card-text text-muted">R$ <%=vinho.valor%></p>
                        <a href="produtos/<%=vinho.id_produto%>" class="btn btn-primary">Compre</a>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>
<%-include('./partials/footer')%>